.foundry {
    width: 100%;
    padding: 0 1.771vw;

    .foundry__heading {
        padding-left: 1.25vw;
    }

    .foundry__wrapper {
        width: 100%;
        
        display: flex;
        flex-direction: column;

        .foundry__details {
            width: 100%;
            padding-left: 1.25vw;

            margin: 0 0 2.083vw;

            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                font-size: 0.938vw;
                font-weight: 500;
                color: #4F4F4F;

                &:first-child{
                        margin-top: 0.26vw;
        
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 27px;


                        color: #40BA93;
                }
            }
        }

        .foundry__data {
            width: 63.542vw;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 1.042vw;

            .foundry__data-item {
                height: 7.188vw;
                padding: 1.458vw 2.135vw 1.042vw;

                display: flex;
                align-items: center;
                justify-content: space-between;

                color: white;
                background: radial-gradient(61.16% 3404.86% at 48.28% 79.61%, rgba(30, 117, 89, 0.3) 0%, rgba(9, 33, 25, 0.3) 100%), linear-gradient(90.99deg, #272727 2.18%, #1C1C1C 104.4%);
                box-shadow: 0 0.208vw 0.833vw rgba(0, 0, 0, 0.25);
                border-radius: 2.083vw;

                p {
                    font-size: 0.729vw;
                    font-weight: 300;
                }

                b {
                    font-weight: 500;
                    font-size: 1.25vw;
                }

                &__heading {
                    color: #828282;
                    font-size: 0.729vw;
                    margin-bottom: 0.781vw;
                }

                &__icon {
                    width: 3.75vw;
                    height: 3.75vw;
                }

                &__wrapper {
                    width: 11.458vw;

                    display: grid;
                    align-items: center;
                    grid-template-columns: 1fr 1fr;

                    svg {
                        height: 100%;
                        width: 0.052vw;


                        margin: 0 auto;
                    }

                    &__token-data {
                        display: flex;
                        flex-direction: column;

                        &:not(:last-child) {
                            border-right: 0.052vw solid #40BA93;
                        }

                        &:last-child {
                            margin-left: 2vw;
                        }
                    }
                }

                & input{
                    color: #fff;
                }
            }
        }

        .foundry__actions {
            margin-top: 4.583vw;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 2.083vw;

            &-item {
                width: 100%;
                height: 16.563vw;

                padding: 4.063vw 2.5vw 0;

                display: flex;
                flex-direction: column;
                position: relative;

                background: linear-gradient(90.99deg, #1D1D1D 2.18%, #232323 104.4%);
                border-radius: 2.083vw;

                &__status {
                    position: absolute;
                    top: -1.5vw;
                    left: 1.042vw;

                    display: flex;
                    padding: 0.677vw 1.823vw;

                    font-size: 1.250vw;
                    font-weight: 500;

                    border-radius: 1.042vw;
                    background-color: #333;
                    color: white;
                }

                &__token {
                    display: flex;
                    align-items: center;

                    color: white;

                    img {
                        width: 2.5vw;
                        height: 2.5vw;

                        margin-right: 0.417vw;
                    }

                    p {
                        font-size: 1.25vw;
                        font-weight: 500;
                    }
                }

                .amount {
                    margin: 1.302vw 0 1.302vw 2.865vw;

                    font-size: 1.25vw;
                    font-weight: 500;

                    color: white;
                }

                & input{
                    color: #fff;
                    margin: 0 0 0 2.865vw;
                }

                button {
                    width: fit-content;

                    font-size: 0.729vw;
                    padding: 0.677vw 1.458vw;
                    margin-left: 2.083vw;

                    color: #40BA93;
                    border: 0.052vw solid #40BA93;
                    border-radius: 1.042vw;

                    &:disabled {
                        color: #4F4F4F;
                        border: 0.052vw solid #4F4F4F;
                    }
                }
            }
        }
    }
}