body{
    .ant-modal-content {
        position: relative;
        .ant-modal-close-x {
            position: absolute;
            top: 21px;
            right: 20px;
        
            background: #171717;
            box-shadow: -8px -8px 20px rgba(28, 27, 27, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 16px;
            // padding: 13px 24px;
            width: 68px;
            height: 45px;
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            & svg{
                fill:#4F4F4F;
            }
        }
    }
}


.create-pair-modal {
    .ant-modal-content {
        padding: 27px 51px;
        border-radius: 25px;
        position: relative;
        // height: 50vh;
        background: radial-gradient(94.26% 94.26% at 47.39% 30.04%, rgba(64, 186, 147, 0.16) 0%, rgba(0, 0, 0, 0) 100%),
            linear-gradient(90.99deg, #1d1d1d 2.18%, #232323 104.4%);
        .ant-modal-body {
            padding: 0;
            max-height: 820px;
            height: 100%;
        }
       
    }
}

.remove-liquidity-modal {
    .ant-modal-content {
        background: radial-gradient(61.16% 3404.86% at 48.28% 79.61%, rgba(30, 117, 89, 0.3) 0%, rgba(9, 33, 25, 0.3) 100%), linear-gradient(90.99deg, #272727 2.18%, #1C1C1C 104.4%);
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        .ant-modal-body {
            padding: 27px 51px;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 21px;
            
            .button-area{
                margin-top: 25px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 6px;

                button{
                    background: #40BA93;
                    border-radius: 30px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 27px;
                    /* identical to box height */

                    text-align: center;

                    color: #FFFFFF;
                    padding: 15px 0;
                    width: 100%;

                    &.back{
                        border: 1px solid #40BA93;
                        background: transparent;
                    }
                }
            }
            // button {
            //     width: 100px;
            //     height: 35px;
            //     background: #40ba93;
            //     border: 0px;
            //     border-radius: 25px;
            //     color: white;
            //     place-self: center;
            // }
        }
    }
}

.luqidity-pools-wrapper {
    display: flex;
    flex-direction: column;

    .luqidity-pools-wrapper-page-header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        padding-left: 2.5vw;
        padding-right: 2.5vw;

        .create-btn {
            width: 226px;
            padding: 14px 37px;
            border: 1px solid #4f4f4f;
            box-sizing: border-box;
            border-radius: 40px;
            font-size: 18px;
            line-height: 27px;
            text-align: center;

            color: #ffffff;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 28px;
            cursor: pointer;
        }
    }

    .luqidity-pools-wrapper-heading {
        margin-top: 1.302vw;
        margin-left: 1.563vw;
        padding-left: 2.5vw;

        font-size: 1.25vw;
        font-weight: 300;

        color: white;
    }

    &__list-header {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 0.5fr;
        margin: 2.969vw 6.771vw 0.938vw 6.51vw;
        color: #4f4f4f;
        h5 {
            display: flex;
            align-items: center;

            font-size: 0.938vw;
            color: #4f4f4f;

            svg {
                margin-left: 1.458vw;

                width: 1.823vw;
                height: 1.042vw;
            }
        }
    }

    .luqidity-pools-wrapper-list {
        height: 100%;

        display: flex;
        flex-direction: column;

        padding: 0;

        .luqidity-pools-wrapper-list-item {
            display: flex;
            flex-direction: column;
            transition: 0.3s all;
            align-items: center;
            justify-content: center;

            padding: 1vw 2.813vw 1vw 3.489vw;
            margin: 0 3.958vw 1.042vw 3.021vw;

            border-radius: 2.083vw;

            background: linear-gradient(90.99deg, #1d1d1d 2.18%, #232323 104.4%);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            transition: all 0.2s ease-in-out;
            transform: scale(1);
            cursor: pointer;

            &:hover {
                transform: scale(1.01);
            }

            &__header {
                width: 100%;

                display: grid;
                align-items: center;
                grid-template-columns: 1.5fr 1fr 1fr 1fr 0.5fr;

                & h3,
                & div {
                    margin-right: auto;
                }
            }

            h3 {
                font-size: 0.938vw;
                color: white;
            }

            .pair {
                width: 100%;

                display: flex;
                align-items: center;
                color: white;

                font-size: 0.938vw;

                img {
                    width: 2.448vw;
                    height: 2.448vw;

                    &:not(:first-child) {
                        margin: 0 0.99vw 0 0.469vw;
                    }
                }
            }

            .chart-expand {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 3.542vw;
                height: 1.7vw;

                margin-left: auto;

                font-size: 0.938vw;
                cursor: pointer;
                background: #1e1e1e;
                color: #4f4f4f;

                border: 0.052vw solid #4f4f4f;
                border-radius: 1.042vw;

                &:hover {
                    transition: 0.3s all;

                    background-color: #40ba93;
                    border: 0.052vw solid #40ba93;
                    color: white;
                }
            }
        }

        .liq-item-opened {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0.938vw 2.813vw 4vw 3.489vw;
            transition: 0.4s ease;

            height: 100%;

            background: radial-gradient(
                    94.26% 94.26% at 47.39% 30.04%,
                    rgba(64, 186, 147, 0.16) 0%,
                    rgba(0, 0, 0, 0) 100%
                ),
                linear-gradient(90.99deg, #1d1d1d 2.18%, #232323 104.4%);

            // animation: listOpened 0.3s;

            // .luqidity-pools-wrapper-list-item__header {
            //     margin-bottom: auto;
            // }

            .control-panel {
                width: 100%;

                display: flex;
                flex-direction: column;

                margin-bottom: auto;

                &__header {
                    display: flex;
                    padding: 1.563vw 0 1.823vw;

                    &__transactions {
                        padding: 1.563vw 0 0;
                    }

                    button {
                        font-size: 0.729vw;
                        padding: 0.521vw 1.25vw;

                        cursor: pointer;
                        white-space: nowrap;

                        border-radius: 1.042vw;
                        border: 0.052vw solid transparent;

                        background-color: transparent;
                        color: #4f4f4f;
                    }

                    .active {
                        animation: activeTabLiq 0.25s;
                        background-color: #40ba93;
                        border: 0.052vw solid #40ba93;
                        color: white;
                    }

                    @keyframes activeTabLiq {
                        0% {
                            width: 0;
                            opacity: 0;
                            color: transparent;
                        }
                        25% {
                            width: 1.042vw;
                            opacity: 0.25;
                            color: transparent;
                        }
                        50% {
                            width: 2.083vw;
                            opacity: 0.5;
                            color: transparent;
                        }
                        75% {
                            width: 4.167vw;
                            opacity: 0.75;
                            color: transparent;
                        }
                        100% {
                            width: 6.25vw;
                            color: white;
                            opacity: 1;
                        }
                    }
                }

                &__content {
                    display: flex;
                    justify-content: space-between;

                    .transactions-wrapper {
                        width: 100%;

                        &__switch-buttons {
                            width: 19.5vw;
                            margin-left: auto;
                            margin-bottom: 0.99vw;

                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .transanction-tabs-wrapper-active {
                                color: white;
                                background: #40ba93;
                                font-weight: 700;
                            }

                            button {
                                font-size: 0.729vw;
                                font-weight: 300;

                                padding: 0.26vw 1.302vw;

                                background: transparent;
                                border-radius: 1.302vw;
                                color: #b0b0b0;

                                border: none;
                                cursor: pointer;
                                transition: all 0.3s;

                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }

                    .provide-liq-wrapper {
                        width: 24.792vw;

                        margin-left: 2.396vw;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        background: linear-gradient(95.56deg, #1d1d1d 13.15%, #282828 95.93%);
                        border-radius: 2.083vw;

                        .chart-block {
                            width: 13.021vw;
                            height: 13.021vw;

                            overflow: hidden;

                            &__block {
                                position: absolute;
                                top: 0;
                            }
                        }

                        .buttons {
                            display: flex;
                            margin: 0 0 1.563vw;

                            button {
                                margin: 0 auto;
                                padding: 0.2vw 1vw;

                                cursor: pointer;
                                color: white;
                                font-size: 0.625vw;

                                background-color: #40ba93;
                                border: 0.052vw solid #40ba93;
                                border-radius: 1.042vw;

                                transition: 0.4s ease;

                                &:last-child {
                                    margin-left: 0.4vw;
                                }

                                &:hover {
                                    background-color: transparent;
                                }
                            }
                        }
                    }

                    .provide-liquidity-block {
                        width: 100%;

                        background: linear-gradient(90.99deg, #1d1d1d 2.18%, #232323 104.4%);
                        border-radius: 2.083vw;

                        padding: 1.1vw 1.979vw 1.1vw 2.604vw;

                        &__item {
                            display: flex;
                            justify-content: space-between;

                            &:not(:last-child) {
                                border-bottom: 0.052vw solid #333333;
                            }

                            &__data {
                                display: flex;
                                flex-direction: column-reverse;

                                .provide-liq-max__data {
                                    margin: 0.3vw 0 auto 0 !important;
                                    font-size: 0.625vw;
                                }

                                p {
                                    color: white;
                                    margin: auto 0 auto auto;

                                    font-size: 0.938vw;

                                    &:last-child {
                                        margin-bottom: 0;
                                        color: #828282;
                                    }
                                }
                            }

                            &__input-wrapper {
                                display: flex;
                                flex-direction: column;

                                padding: 0.46vw 0;

                                .provide-liq-heading {
                                    font-size: 0.625vw;
                                }

                                p {
                                    font-size: 0.938vw;
                                    color: #828282;
                                }

                                &__token {
                                    color: white;
                                    display: flex;
                                    align-items: center;

                                    .provide-liq-white {
                                        color: white;
                                        font-size: 0.938vw;

                                        &::placeholder {
                                            color: white;
                                        }
                                    }

                                    img {
                                        width: 2.083vw;
                                        height: 2.083vw;
                                    }

                                    h5 {
                                        font-size: 0.938vw;
                                        padding: 0 0.781vw;

                                        color: white;
                                    }

                                    input {
                                        font-size: 0.938vw;

                                        background: transparent;
                                        border: none;
                                        outline: none;

                                        color: #4f4f4f;

                                        &::-webkit-outer-spin-button,
                                        &::-webkit-inner-spin-button {
                                            -webkit-appearance: none;
                                            margin: 0;
                                        }

                                        input[type="number"] {
                                            -moz-appearance: textfield;
                                        }

                                        &::placeholder {
                                            color: #4f4f4f;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .vol-chart {
                        width: 47.5vw;
                        height: 10.521vw;

                        margin-top: auto;
                        overflow: hidden;
                        font-size: 0.938vw;

                        align-self: center;
                        justify-self: flex-start;
                    }

                    .liq-chart {
                        width: 45.083vw !important;
                        height: 10.104vw !important;

                        margin-top: auto;
                        overflow: hidden;
                        font-size: 0.938vw;

                        align-self: center;
                        justify-self: flex-start;
                    }

                    .liq-info {
                        width: 19.063vw;
                        height: 13.021vw;

                        display: grid;
                        grid-template-columns: 1fr;

                        padding: 1.7vw 2.083vw;
                        animation: liqInfoAppears 0.3s;
                        background: linear-gradient(90.99deg, #1d1d1d 2.18%, #232323 104.4%);

                        border-radius: 2.083vw;
                        box-sizing: border-box;

                        justify-self: flex-end;
                        align-self: center;

                        span {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            border-bottom: 0.052vw solid #333333;
                            align-items: center;
                            font-size: 0.729vw;
                            h5 {
                                color: #828282;
                                font-weight: 300;
                            }

                            &:last-child {
                                border-bottom: 0.052vw solid transparent;
                            }

                            b {
                                font-weight: 500;
                                color: white;
                                justify-self: flex-end;
                            }
                        }
                    }
                    @keyframes liqInfoAppears {
                        0% {
                            transform: translateX(200px);
                            opacity: 0;
                        }
                        25% {
                            transform: translateX(150px);
                            opacity: 0;
                        }
                        50% {
                            transform: translateX(100px);
                            opacity: 0;
                        }
                        75% {
                            transform: translateX(50px);
                            opacity: 0.25;
                        }
                        80% {
                            transform: translateX(25px);
                            opacity: 0.5;
                        }
                        100% {
                            transform: translateX(0px);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .earn-ago {
        .luqidity-pools-wrapper-list-item {
            background: linear-gradient(90.19deg, #560397 -3.27%, #3d1b57 103.63%);

            .control-panel__header {
                button {
                    color: white;
                }
            }
        }
    }
}

.luqidity-pools-wrapper-light {
    .luqidity-pools-wrapper-list {
        .luqidity-pools-wrapper-list-item {
            background: #f2f2f2;
            h3 {
                color: #333333;
            }
            .pair {
                h3 {
                    color: #333333;
                }
            }
            .chart-expand {
                background: #bdbdbd;
            }
            .control-panel {
                &__content {
                    .liq-info {
                        background: linear-gradient(110.02deg, #40ba93 2.33%, rgba(64, 186, 147, 0) 123.59%);
                        span {
                            border-bottom: 1px solid white;
                            h5 {
                                color: #333333;
                            }
                        }
                    }
                    .provide-liquidity-block {
                        background: #ffffff;
                        &__input-row {
                            span {
                                color: #4f4f4f;
                            }
                            div {
                                p {
                                    color: #4f4f4f;
                                }
                                input {
                                    color: black;
                                    &::placeholder {
                                        color: black;
                                    }
                                }
                            }
                        }
                        &__add-info-row {
                            input {
                                color: black;
                                &::placeholder {
                                    color: black;
                                }
                            }
                        }
                    }
                    .provide-liq-wrapper {
                        background: #ffffff;
                    }
                }
            }
        }
        .liq-item-opened {
            border: 1px solid #40ba93;
            background: radial-gradient(
                    134.01% 652.71% at 100% 100%,
                    rgba(64, 186, 147, 0.2) 0%,
                    rgba(64, 186, 147, 0) 100%
                ),
                radial-gradient(105.3% 524.96% at -8.59% -19.61%, #40ba93 0%, rgba(242, 242, 242, 0) 100%);
        }
    }
}
