.accounts-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2.292vw 2.5vw 0;
    
    .accounts-container {
        display: flex;
        flex-direction: column;
        row-gap: 33px;

        &-duo {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 80px;
        }
    }

    .acc-hisotry {
        // width: 0;
        width: calc(100% - 10vw);
        height: 100%;

        display: flex;
        overflow-y: auto;

        z-index: 99;
        margin-left: 5vw;

        position: fixed;
        top: 5vw;
        right: -100%;
        opacity: 0;

        background-color: #202020;

        padding-right: 2.5%;
        padding-left: 2.5%;
        box-sizing: border-box;

        transition: 1s ease;

        &::-webkit-scrollbar {
            display: none;
        }

        main {
            width: 100%;
            display: flex;
            flex-direction: column;

            opacity: 0;
        }

        .acc-hisotry-heading {
            h1 {
                margin-top: 0.677vw;
                font-size: 1.875vw;
                color: white;
            }

            a {
                display: flex;
                align-items: center;

                color: #4F4F4F;
                text-decoration: none;

                font-size: 0.729vw;

                i {
                    font-size: 0.521vw;
                    color: #40BA93;
                    margin-right: 0.417vw;
                }
            }
        }

        .acc-hisotry-header {
            width: 100%;
            display: flex;
            align-items: center;

            .search__input {
                width: 34.115vw;
                height: 2.604vw;
                background-color: transparent;

                display: flex;
                align-items: center;

                margin-left: auto;
                padding-left: 1.354vw;
                padding-right: 1.354vw;

                border-radius: 1.302vw;
                border: 0.052vw solid #40BA93;

                input {
                    font-size: 0.938vw;

                    width: 100%;
                    outline: 0;

                    &:focus {
                        &::placeholder {
                            opacity: 0;
                        }
                    }

                    &::placeholder {
                        color: #40524C;
                    }

                    color: white;

                    &:focus {
                        outline: none;
                    }
                }

                svg {
                    width: 0.938vw;
                    height: 0.938vw;
                }
            }
        }

        .acc-hisotry-body {
            margin-top: 2vw;

            ul {
                margin-right: 10.417vw;

                data {
                    display: block;
                    padding: 0.833vw 0 0.677vw;

                    font-size: 0.833vw;
                    font-weight: 500;
                }

                .dark {
                    color: #4F4F4F;
                }

                .light {
                    color: white;
                }

                li {
                    padding: 0.833vw 0;

                    display: grid;
                    grid-template-columns: 1fr 1.5fr 0.4fr;
                    color: white;

                    border-bottom: 0.052vw solid #333333;

                    .action-container {
                        display: flex;
                        position: relative;

                        .text {
                            display: flex;
                            flex-direction: column;

                            margin-left: 3vw;
                        }

                        .action-img {
                            width: 1.979vw;
                            height: 1.979vw;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            background-color: #333;
                            border-radius: 0.521vw;

                            position: absolute;
                            left: -0.781vw;

                            img {
                                width: 0.625vw;
                            }
                        }
                    }

                    .action-currency {
                        display: flex;
                        align-items: center;

                        margin-right: 1.250vw;

                        img {
                            width: 1.354vw;
                            margin-right: 0.938vw;
                        }

                        .arrow {
                            margin: 0 2.604vw 0 1.25vw;

                            width: 0.677vw;
                            height: 1.094vw;
                        }

                        .text {
                            display: flex;
                            flex-direction: column;

                            p {
                                font-size: 0.729vw;
                                font-weight: 500;
                            }

                            b {
                                font-weight: 300;
                                font-size: 0.625vw;
                            }
                        }
                    }

                    .action-transaction-data {
                        display: flex;
                        flex-direction: column;

                        .account-key {
                            margin-top: 0.104vw;

                            display: flex;
                            align-items: center;

                            span {
                                width: 0.781vw;
                                height: 0.781vw;

                                margin: 0 0.625vw 0.156vw 0;

                                background-color: #40BA93;
                                border-radius: 50%;
                            }
                        }
                    }

                    p {
                        font-size: 0.729vw;
                        font-weight: 500;
                    }

                    b {
                        font-weight: 300;
                        font-size: 0.625vw;
                    }
                }
            }
        }

        .acc-hisotry-buttons {
            display: flex;
            margin-left: 7.813vw;

            button {
                display: flex;
                align-items: center;

                padding: 0.677vw 0.990vw;
                white-space: nowrap;

                font-size: 0.729vw;

                background-color: transparent;
                border: 0.052vw solid #4F4F4F;
                border-radius: 1.302vw;
                color: white;

                cursor: pointer;

                &:first-child {
                    color: #40BA93;
                    margin-right: 1.25vw;
                }

                svg, img {
                    width: 0.625vw;
                    height: 0.833vw;

                    margin-right: 0.521vw;
                }

                &:hover {
                    transition: .3s;
                    border: 0.052vw solid #40BA93;
                }
            }
        }
    }


    .acc-history-opened {
        margin-bottom: auto;
        opacity: 1;
        right: 0;

        main {
            opacity: 1;
        }
    }

    @keyframes historyDestroy {
        0% {
            width: 100%;
            opacity: 1;
        }
        100% {
            width: 0%;
            opacity: 0;
        }
    }

    .accounts-wrapper-header {
        color: white; 
        grid-column: 1/3;
        padding-left: 3%;
    }

    .cosmetical-wrapper {
        // height: 24.792vw;
        padding: 1.146vw 2.813vw;

        background: linear-gradient(90.99deg, #272727 2.18%, #1C1C1C 104.4%);
        box-shadow: 0 0.208vw 0.833vw rgba(0, 0, 0, 0.25);
        border-radius: 2.083vw;
        max-width: 100%;
        width: 100%;
    }

    .accounts-wrapper-portoflio-perf {
        position: relative;
        display: flex;
        flex-direction: column;

        background: radial-gradient(61.16% 3404.86% at 48.28% 79.61%, rgba(30, 117, 89, 0.3) 0%, rgba(9, 33, 25, 0.3) 100%), linear-gradient(90.99deg, #272727 2.18%, #1C1C1C 104.4%);

        h1 {
            color: white;
            font-size: 1.875vw;
            margin-right: auto;
        }

        &__header-control-panel {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1 {
                color: white;
                font-size: 0.938vw;
            }

            &__time-frame-list {
                display: flex;
                align-items: center;

                button {
                    width: 2.083vw;
                    height: 2.083vw;

                    background-color: transparent;
                    color: white;

                    border: 0;
                    border-radius: 0.625vw;
                    
                    font-size: 0.938vw;
                    cursor: pointer;

                    &:not(:last-child) {
                        margin-right: 0.26vw;
                    }
                        
                    &:hover {
                        transition: 0.3s;
                        background-color: rgba(51, 147, 116, 0.5);
                    }                 
                }

                .active-frame {
                    background-color: #40BA93;
                    &:hover {
                        background-color: #40BA93;
                    }   
                }

            }
        }
        
        &__price-change {
            display: grid;
            justify-items: flex-end;
            h1 {
                color: #40BA93;
            }
        } 

        &__chart {
            width: 34.740vw;
            height: 100%;
            color: white;

            h1 {
                font-size: 2.604vw;
            }
        }
    }

    .accounts-wrapper-portoflio-assets {
        display: flex;
        flex-direction: column;

        &__assets-chart-info {
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .accounts-wrapper-portoflio-assets__assets-chart-info__assets-list {
                display: flex;
                justify-content: space-between;

                h3 {
                    color: #828282;
                    font-size: 0.729vw;
                }

                .round-chart-img {
                    width: 13.854vw;
                    height: 12.292vw;
                }

                ul {
                    width: auto;
                    display: flex;
                    flex-direction: column;

                    height: 13.177vw;
                    overflow-y: auto;

                    padding-right: 1.042vw;
                    padding-bottom: 0;
                    margin-bottom: 0;

                    &::-webkit-scrollbar {
                        width: 0.208vw;
                        height: 100%;
                    
                        background: #333;
                        border-radius: 0.260vw;
                    }
                
                    &::-webkit-scrollbar-thumb {
                        background: #4F4F4F;
                        border-radius: 0.260vw;
                    }
                    
                    li {
                        width: 15.521vw;
                        padding: 0.573vw 1.302vw;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        background: linear-gradient(90.99deg, #262626 2.18%, #232323 104.4%);
                        border-radius: 1.563vw;

                        color: white;

                        span {
                            display: flex;
                            align-items: center;

                            font-size: 0.729vw;
                            font-weight: 400;

                            img {
                                width: 1.146vw;
                                margin-right: 0.417vw;
                            }
                        }

                        b {
                            font-size: 0.729vw;
                            font-weight: 400;
                        }

                        .negative-change {
                            color: #EF3725;
                        }

                        &:not(:last-child) {
                            margin-bottom: 0.417vw;
                        }

                        transition: all .3s;
                        &:hover{
                            transform: scale(1.01);
                        }
                    }
                }
            }

            &__bars {
                width: 100%;

                display: flex;
                justify-content: space-between;

                ul {
                    display: flex;
                    margin-top: 1.042vw;
                    margin-bottom: 0;
                    
                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        p {
                            font-size: 0.729vw;
                            font-weight: 300;
                            color: white;
                        }

                        span {
                            width: 1.042vw;

                            box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
                            border-radius: 1.042vw;
                        }

                        &:not(:last-child) {
                            margin-right: 0.721vw;
                        }

                        transition: all .3s;

                        &:hover{
                            transform: scale(1.01);
                        }
                    }
                }

                button {
                    margin-top: auto;

                    padding: 0.469vw 1.042vw;
                    height: fit-content;

                    display: flex;
                    align-items: center;

                    font-size: 0.729vw;
                    color: #BDBDBD;
                    transition: .4s ease;

                    border: none;
                    border-radius: 0.781vw;
                    background: #232323;

                    img {
                        width: 0.938vw;
                        height: 0.833vw;

                        margin-right: 0.469vw;
                    }

                    &:hover {
                        background: #505050;
                    }
                }
            }
        }
    }

    .accounts-wrapper-use-staking-pools {
        padding: 0 4.167vw;

        display: flex;
        flex-direction: column;

        &__data {
            padding: 0.521vw 0;

            display: flex;
            align-items: center;
            justify-content: space-between;

            color: white;
            border-top: 0.052vw solid #333;

            span {
                font-size: 0.729vw;

                &:first-child {
                    color: #4F4F4F;
                }
            }
        }

        .range-slider {
            margin: auto;

            p {
                display: flex;
                align-items: center;

                font-size: 0.521vw;
                color: white;

                span {
                    display: block;
                    margin: auto 0.2vw 0 0;

                    width: 0.208vw;
                    height: 0.208vw;

                    border-radius: 50%;

                    background: #EF3725;
                }

                b {
                    color: #EF3725;
                    padding-right: 0.260vw;
                }

                &:last-child {
                    width: fit-content;
                    margin-left: auto;

                    span {
                        background: #40BA93;
                        margin: 0 0 auto 0.2vw;
                    }
                }
            }
        }

        &__buttons {
            width: 12.344vw;
            margin: 0 auto 2.5vw;

            display: flex;
            justify-content: center;

            .active {
                border: 0.052vw solid #40BA93;
                background: #40BA93;
            }

            button {
                color: white;

                padding: 0.313vw 1.458vw;
                font-size: 0.729vw;
                
                border: 0.052vw solid #40BA93;
                background: transparent;
                box-shadow: 0 0.208vw 0.156vw rgba(0, 0, 0, 0.25);
                border-radius: 1.042vw;

                transition: .4s ease;

                &:first-child {
                    margin-right: 1.042vw;
                }

                &:hover {
                    border: 0.052vw solid #40BA93;
                    background: #40BA93;
                }
            }
        }

        h1 {
            font-size: 0.938vw;
            color: white;
            text-align: center;

            margin-top: 1.771vw;
            margin-bottom: 0.938vw;
        }
        
        &__list-header {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            color:#4F4F4F;

            font-size: 0.729vw;
            padding-bottom: 0.729vw;
            
            span {
                margin: 0 auto;

                &:first-child {
                    margin: 0 auto 0 0;
                }

                &:last-child {
                    margin: 0 0 0 auto;
                }
            }
        }

        &__pagination {
            display: flex;
            margin: auto auto 1.458vw;
            transition: all .3s;
            
            span {
                color: #4F4F4F;
                font-size: 0.729vw;
                padding: 0 0.473vw;

                cursor: pointer;
                &:hover{
                    opacity: 0.8;
                    color: white;
                }
            }

            .active {
                color: white;
            }

            
        }

        ul {
            margin-bottom: 0;
            li {
                padding: 0.729vw 0;
                border-top: 0.052vw solid #333333;

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
                color: white;

                div {
                    width: 100%;
                    display: flex;
                    align-items: center;

                    img {
                        width: 1.563vw;
                        height: 1.563vw;

                        margin-right: 0.729vw;
                    }

                    p {
                        font-size: 0.729vw;
                    }
                }

                span {
                    font-size: 0.729vw;
                    align-content: center;

                    margin: 0 auto;

                    &:last-child {
                        margin: 0 0 0 auto;
                    }
                }
            }
        }
    }
}

// LIGHT THEME 

.accounts-wrapper-light {

    .acc-hisotry {
        background-color: white;
        .acc-hisotry-header {
            h1 {
                color: black;
            }
        }
    }

    .accounts-wrapper-header {
        color: black;
    }
    .main-block {
        background: radial-gradient(113.47% 7561.36% at -5.76% -16.06%, rgba(95, 234, 190, 0.56) 0%, rgba(95, 234, 190, 0) 100%);
    }

    .secondary-block {
        background: #F2F2F2;
    }

    .accounts-wrapper-portoflio-perf {
        &__header-control-panel {
            h1 {
                color: black;
            }
            &__time-frame-list {
                button {
                    color: black;
                }
                .active-frame {
                    color: white;
                }
            }
        }
    }
    .accounts-wrapper-portoflio-assets {
        &__header {
            div {
                h1 {
                    &:first-child {
                        color: black;
                    }
                }
            }
            button {
                background: #40BA93;
            }
        }
        &__assets-chart-info {
            &__assets-list {
                ul {
                    li {
                        span {
                            color: black;
                        }
                    }
                }
            }
        }
    }
    .accounts-wrapper-use-staking-pools  {
        h1 {
            color: black;
        }
        ul {
            li {
                span {
                    color: black;
                }
            }
        }
    }
    .accounts-wrapper-use-liq-pools {
        h1 {
            color: black;
        }
        ul {
            li {
                .dual-liq-icons {
                    span {
                        color: black;
                    }
                }
                span {
                    color: black;
                }
            }
        }
    }
}

.pie-account-custom {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: fit-content;
    height: 60px;
    border-radius: 16px;
    background-color: #171717;
    color: white;
    place-items: center;
    img {
        width: 25px;
        height: 25px;
    }
    font-size: 18px;
}   