.accounts-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2.292vw 2.5vw 0;
    
    .accounts-container {
        display: flex;
        flex-direction: column;

        &-duo {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 5%;

            &:not(:last-child) {
                margin-bottom: 1.406vw;
            }
        }
    }

    .acc-hisotry {
        z-index: 9999999;
        position: absolute;
        right: 0;
        width: 0%;
        height: 100%;
        background-color: #202020;
        display: grid;
        opacity: 0;
        visibility: hidden;
        grid-template-rows: 5% 15% 80%;
        padding-right: 2.5%;
        padding-left: 2.5%;
        box-sizing: border-box;
        transition: 1s all;

        a {
            color: #4F4F4F;
            text-decoration: none;
            i {
                color: #40BA93;
            }
        }

        .acc-hisotry-header {
            display: grid;
            grid-template-columns: 20% 60% 20%;
            h1 {
                color: white;
                align-self: flex-start;
            }
            input {
                justify-self: center;
                align-self: flex-start;
                width: clamp(355px,100%,655px);
                height: clamp(40px, 100%, 50px);
                background-color: transparent;
                border-radius: 25px;
                border: 1px solid #40BA93;
                padding-left: 25px;
                padding-right: 5%;
                font-size: 18px;
                background-image: url('../../assets/icons/search-input.svg');
                background-repeat: no-repeat;
                background-position: 95% center;
                box-sizing: border-box;
                outline: 0;
                &::placeholder {
                    color: #40524C;
                }
                color: white;
                &:focus {
                    outline: none;
                }
            }
            button {
                background-color: transparent;
                height: 42px;
                width: clamp(131px, 100%, 171px);
                border: 1px solid #4F4F4F;
                box-sizing: border-box;
                border-radius: 25px;
                color: white;
                justify-self: flex-end;
                cursor: pointer;
                font-size: 14px;
                &:hover {
                    transition: 0.3s;
                    background-color: #40BA93;
                    border: 1px solid #40BA93;
                }
            }
        } 
        .acc-hisotry-body {
            padding-right: 10%;
            ul {
                li {
                    h5 {
                        color: white;
                        font-weight: 500;
                    }
                    span {
                        display: grid;
                        grid-template-columns: 20% 80%;
                        p {
                            white-space: nowrap;
                            justify-self: flex-start;
                        }
                    }
                    display: grid;
                    grid-template-columns: 50px 400px 50px 400px;
                    align-items: center;
                    color: white;
                    min-height: 50px;
                    border-bottom: 1px solid #333333;
                }
            }
        }
    }
    .acc-history-opened {
        animation: historyMount 1s;
        width: 100%;
        opacity: 1;
        visibility: visible;
        
    }

    @keyframes historyMount {
        0% {
            width: 0%;
            opacity: 0;
            visibility: hidden;
        }
        10% {
            visibility: visible;
        }
        20% {
            opacity: 1;
        }
        100% {
            width: 100%;
        }
    }

    @keyframes historyDestroy {
        0% {
            width: 100%;
            opacity: 1;
        }
        100% {
            width: 0%;
            opacity: 0;
        }
    }

    .accounts-wrapper-header {
        color: white; 
        grid-column: 1/3;
        padding-left: 3%;
    }

    .cosmetical-wrapper {
        height: 24.792vw;
        padding: 1.146vw 2.813vw;

        background: linear-gradient(90.99deg, #272727 2.18%, #1C1C1C 104.4%);
        box-shadow: 0 0.208vw 0.833vw rgba(0, 0, 0, 0.25);
        border-radius: 2.083vw;
    }

    .accounts-wrapper-portoflio-perf {
        display: flex;
        flex-direction: column;

        background: radial-gradient(61.16% 3404.86% at 48.28% 79.61%, rgba(30, 117, 89, 0.3) 0%, rgba(9, 33, 25, 0.3) 100%), linear-gradient(90.99deg, #272727 2.18%, #1C1C1C 104.4%);

        h1 {
            color: white;
            font-size: 1.875vw;
            margin-right: auto;
        }

        &__header-control-panel {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1 {
                color: white;
                font-size: 0.938vw;
            }

            &__time-frame-list {
                display: flex;
                align-items: center;

                button {
                    width: 2.083vw;
                    height: 2.083vw;

                    background-color: transparent;
                    color: white;

                    border: 0;
                    border-radius: 0.625vw;
                    
                    font-size: 0.938vw;
                    cursor: pointer;

                    &:not(:last-child) {
                        margin-right: 0.26vw;
                    }
                        
                    &:hover {
                        transition: 0.3s;
                        background-color: rgba(51, 147, 116, 0.5);
                    }                 
                }

                .active-frame {
                    background-color: #40BA93;
                    &:hover {
                        background-color: #40BA93;
                    }   
                }

            }
        }
        
        &__price-change {
            display: grid;
            justify-items: flex-end;
            h1 {
                color: #40BA93;
            }
        } 

        &__chart {
            width: 34.740vw;
            height: 100%;
            color: white;

            h1 {
                font-size: 2.604vw;
            }
        }
    }

    .accounts-wrapper-portoflio-assets {
        display: flex;
        flex-direction: column;

        &__assets-chart-info {
            display: flex;
            flex-direction: column;

            .accounts-wrapper-portoflio-assets__assets-chart-info__assets-list {
                display: flex;
                justify-content: space-between;

                h3 {
                    color: #828282;
                    font-size: 0.729vw;
                }

                .round-chart-img {
                    width: 13.854vw;
                    height: 12.292vw;
                }

                ul {
                    width: auto;
                    display: flex;
                    flex-direction: column;

                    height: 13.177vw;
                    overflow-y: auto;

                    padding-right: 1.042vw;
                    padding-bottom: 0;
                    margin-bottom: 0;

                    &::-webkit-scrollbar {
                        width: 0.208vw;
                        height: 100%;
                    
                        background: #333;
                        border-radius: 0.260vw;
                    }
                
                    &::-webkit-scrollbar-thumb {
                        background: #4F4F4F;
                        border-radius: 0.260vw;
                    }
                    
                    li {
                        width: 15.521vw;
                        padding: 0 1.302vw;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        background: linear-gradient(90.99deg, #262626 2.18%, #232323 104.4%);
                        border-radius: 1.563vw;

                        color: white;

                        span {
                            display: flex;
                            align-items: center;

                            font-size: 0.729vw;
                            font-weight: 400;

                            img {
                                width: 1.146vw;
                                margin-right: 0.417vw;
                            }
                        }

                        b {
                            font-size: 0.729vw;
                            font-weight: 400;
                        }

                        .negative-change {
                            color: #EF3725;
                        }

                        &:not(:last-child) {
                            margin-bottom: 0.417vw;
                        }
                    }
                }
            }

            &__bars {
                width: 100%;

                display: flex;
                justify-content: space-between;

                ul {
                    display: flex;
                    margin-top: 1.042vw;
                    margin-bottom: 0;
                    
                    li {
                        margin-top: auto;

                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        p {
                            font-size: 0.729vw;
                            font-weight: 300;
                            color: white;
                        }

                        span {
                            width: 1.042vw;

                            box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
                            border-radius: 1.042vw;
                        }

                        &:not(:last-child) {
                            margin-right: 0.721vw;
                        }
                    }
                }

                button {
                    margin-top: auto;

                    padding: 0.469vw 1.042vw;
                    height: fit-content;

                    display: flex;
                    align-items: center;

                    font-size: 0.729vw;
                    color: #BDBDBD;
                    transition: .4s ease;

                    border: none;
                    border-radius: 0.781vw;
                    background: #232323;

                    img {
                        width: 0.938vw;
                        height: 0.833vw;

                        margin-right: 0.469vw;
                    }

                    &:hover {
                        background: #505050;
                    }
                }
            }
        }
    }

    .accounts-wrapper-use-staking-pools {
        padding: 0 4.167vw;

        display: flex;
        flex-direction: column;

        &__data {
            padding: 0.521vw 0;

            display: flex;
            align-items: center;
            justify-content: space-between;

            color: white;
            border-top: 0.052vw solid #333;

            span {
                font-size: 0.729vw;

                &:first-child {
                    color: #4F4F4F;
                }
            }
        }

        .range-slider {
            margin: auto;

            p {
                display: flex;
                align-items: center;

                font-size: 0.521vw;
                color: white;

                span {
                    display: block;
                    margin: auto 0.2vw 0 0;

                    width: 0.208vw;
                    height: 0.208vw;

                    border-radius: 50%;

                    background: #EF3725;
                }

                b {
                    color: #EF3725;
                    padding-right: 0.260vw;
                }

                &:last-child {
                    width: fit-content;
                    margin-left: auto;

                    span {
                        background: #40BA93;
                        margin: 0 0 auto 0.2vw;
                    }
                }
            }
        }

        &__buttons {
            width: 12.344vw;
            margin: 0 auto 2.5vw;

            display: flex;
            justify-content: center;

            .active {
                border: 0.052vw solid #40BA93;
                background: #40BA93;
            }

            button {
                color: white;

                padding: 0.313vw 1.458vw;
                font-size: 0.729vw;
                
                border: 0.052vw solid #40BA93;
                background: transparent;
                box-shadow: 0 0.208vw 0.156vw rgba(0, 0, 0, 0.25);
                border-radius: 1.042vw;

                transition: .4s ease;

                &:first-child {
                    margin-right: 1.042vw;
                }

                &:hover {
                    border: 0.052vw solid #40BA93;
                    background: #40BA93;
                }
            }
        }

        h1 {
            font-size: 0.938vw;
            color: white;
            text-align: center;

            margin-top: 1.771vw;
            margin-bottom: 0.938vw;
        }
        
        &__list-header {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            color:#4F4F4F;

            font-size: 0.729vw;
            padding-bottom: 0.729vw;
            
            span {
                margin: 0 auto;

                &:first-child {
                    margin: 0 auto 0 0;
                }

                &:last-child {
                    margin: 0 0 0 auto;
                }
            }
        }

        &__pagination {
            display: flex;
            margin: auto auto 1.458vw;
            
            span {
                color: #4F4F4F;
                font-size: 0.729vw;
                margin: 0 0.473vw;

                cursor: pointer;
            }

            .active {
                color: white;
            }
        }

        ul {
            margin-bottom: 0;
            li {
                padding: 0.729vw 0;
                border-top: 0.052vw solid #333333;

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
                color: white;

                div {
                    width: 100%;
                    display: flex;
                    align-items: center;

                    img {
                        width: 1.563vw;
                        height: 1.563vw;

                        margin-right: 0.729vw;
                    }

                    p {
                        font-size: 0.729vw;
                    }
                }

                span {
                    font-size: 0.729vw;
                    align-content: center;

                    margin: 0 auto;

                    &:last-child {
                        margin: 0 0 0 auto;
                    }
                }
            }
        }
    }
}

// LIGHT THEME 

.accounts-wrapper-light {

    .acc-hisotry {
        background-color: white;
        .acc-hisotry-header {
            h1 {
                color: black;
            }
        }
    }

    .accounts-wrapper-header {
        color: black;
    }
    .main-block {
        background: radial-gradient(113.47% 7561.36% at -5.76% -16.06%, rgba(95, 234, 190, 0.56) 0%, rgba(95, 234, 190, 0) 100%);
    }

    .secondary-block {
        background: #F2F2F2;
    }

    .accounts-wrapper-portoflio-perf {
        &__header-control-panel {
            h1 {
                color: black;
            }
            &__time-frame-list {
                button {
                    color: black;
                }
                .active-frame {
                    color: white;
                }
            }
        }
    }
    .accounts-wrapper-portoflio-assets {
        &__header {
            div {
                h1 {
                    &:first-child {
                        color: black;
                    }
                }
            }
            button {
                background: #40BA93;
            }
        }
        &__assets-chart-info {
            &__assets-list {
                ul {
                    li {
                        span {
                            color: black;
                        }
                    }
                }
            }
        }
    }
    .accounts-wrapper-use-staking-pools  {
        h1 {
            color: black;
        }
        ul {
            li {
                span {
                    color: black;
                }
            }
        }
    }
    .accounts-wrapper-use-liq-pools {
        h1 {
            color: black;
        }
        ul {
            li {
                .dual-liq-icons {
                    span {
                        color: black;
                    }
                }
                span {
                    color: black;
                }
            }
        }
    }
}

.pie-account-custom {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: fit-content;
    height: 60px;
    border-radius: 16px;
    background-color: #171717;
    color: white;
    place-items: center;
    img {
        width: 25px;
        height: 25px;
    }
    font-size: 18px;
}   