.trading-wrapper {
    display: flex;
    height: auto;

    &__header {
        display: flex;
        h1 {
            font-size: 1.25vw;
            align-self: center;
            color: white;
        }
    }

    .trading-container {
        display: flex;
        flex-direction: column;
    }

    .trading-wrapper-chart {
        width: 50.938vw;
        padding: 4% 6.75% 2% 6.75%;

        &__header {
            margin: 1vw 0;

            display: flex;
            align-items: center;
            justify-content: space-between;

            h1 {
                align-self: flex-end;
                font-size: 1.25vw;
                color: white;
            }
        }

        &__control-panel {
            display: flex;
            align-items: center;
            

            span {
                color: white;
                font-size: 0.729vw;
            }

            button {
                margin: 0 0.2vw;
                padding: 0.3vw 0.521vw;

                font-size: 0.729vw;

                color: #828282;

                border: 0;
                background-color: transparent;
                cursor: pointer;

                border-radius: 0.521vw;
            }

            select {
                padding: 0.2vw 0.4vw;
                margin-left: 0.6vw;

                display: flex;
                align-items: center;
                justify-content: center;

                background-color: transparent;
                color: white;

                font-size: 0.938vw;

                border-radius: 0.781vw;
                border: 0.052vw solid #40BA93;

                option {
                    color: white;
                    font-size: 0.938vw;
                    background-color: black;
                    border: 0.052vw solid #40BA93;
                }
            }

            .active-time-frame {
                background-color: #40BA93;
                color: white;
            }
        }

        .chart-self {
            width: 100%;
            height: 25.938vw;

            overflow: hidden;
        }

        .chart-switcher {
            width: 4.166vw;
            margin-left: auto;

            display: flex;
            align-items: center;

            button {
                width: 2.083vw;
                height: 2.083vw;

                display: flex;
                align-items: center;
                justify-content: center;

                border: 0;
                background-color: transparent;
                border-radius: 0.521vw;
                
                cursor: pointer;

                img {
                    width: 1.1vw;
                    height: 1.1vw;
                }
            }
            
            .active-chart-type {
                background-color: #40BA93;
            }
        }
        &__chart-graph {
            display: grid;
            grid-template-rows: 75% 25%;
            .chart-control-data {
                display: grid;
                align-items: center;
                @media only screen and (max-width: 1500px) {
                    font-size: 10px;
                }
                font-size: 12px;
                color: #828282;
                ul {
                    li {
                        b {
                            color: #40BA93;
                        }
                    }
                }
            }
        }
    }

    .trading-wrapper-exchange {
        width: 100%;
        display: flex;
        flex-direction: column;

        padding: 2vw;
        margin-left: 2.083vw;
        margin-right: 2.083vw;

        &__header {
            color: white;
            font-size: 1.25vw;
        }

        &__swap-input {
            background: #1F1E20;
            border-radius: 30px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            height: clamp(88px, 90%, 99px);
            box-sizing: border-box;
            padding: 2.75%;

            h3 {
                font-size: 18px;
                color: #828282;
                @media only screen and (max-width: 1500px) {
                    font-size: 14px;
                }
            }
            h5 {
            
                @media only screen and (max-width: 1500px) {
                    font-size: 14px;
                }
                color: white;
                justify-self: flex-end;
            }

            span {
                display: grid;
                grid-template-columns: 25% auto 25%;
                align-items: center;
                color: white;
                img {
                    width: 28px;
                    height: 28px;
                }
                h3 {
                    font-size: 18px;
                }
                @media only screen and (max-width: 1500px) {
                    font-size: 14px;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                    h3 {
                        font-size: 14px;
                    }
                }
            }
            input {
                background-color: transparent;
                border: 0;
                font-size: 18px;
                color: white;
                text-align: right;
                &::placeholder {
                    color: white;
                    font-size: 18px;
                }
                &:focus {
                    outline: none;
                }
            }

        }

        // &__swap-inputs {
        //     display: grid;
        //     grid-row-gap: 5px;
        //     grid-template-rows: 5% 20% 20% 5% 50%;

        //     &__input {
        //         background: #1F1E20;
        //         border-radius: 30px;
        //         display: grid;
        //         // grid-template-columns: 50% 50%;
        //         // grid-template-rows: 50% 50%;
        //         // height: clamp(88px, 100%, 99px);
        //         box-sizing: border-box;
        //         padding: 2.75%;
        //        
        //     }

        // }
        .arrow-swap {
            justify-self: center;
            align-self: center;
            width: 30px;
            height: 30px;
            @media only screen and (max-width: 1500px) {
                width: 20px;
                height: 20px;
            }
        }

        &__tx-info-block {
            height: clamp(150px, 90%, 200px);

            background: #1F1E20;
            align-self: center;
            border-radius: 30px;
            box-sizing: border-box;
            padding: 15px;
            display: grid;
            grid-template-columns: 1fr;
            span {
                display: grid;
                grid-template-columns: 1fr 2fr;
                h3 {
                    color: #A9AAAB;
                    font-size: 18px;
                    @media only screen and (max-width: 1500px) {
                        font-size: 14px;
                    }
                    &:last-child {
                        justify-self: flex-end;
                    }
                }
                b {
                    justify-self: flex-end;
                    color: white;
                    @media only screen and (max-width: 1500px) {
                        font-size: 14px;
                    }
                }
                .active {
                    color: #40BA93;
                }
            }
        }
        &__swap-btn {
            justify-self: center;
            background: #10DC9B;
            box-shadow: 0px 4px 4px rgba(24, 24, 24, 0.25);
            border: 0;
            border-radius: 20px;
            width: clamp(100px, 100%, 140px);
            height: clamp(25px, 100%, 35px);
            // max-width: 140px;
            // max-height: 35px;
            cursor: pointer;
            color: white;
            font-size: 14px;
            font-weight: 500;
        }
    }
    .trading-wrapper-txs {
        margin-top: 2.083vw;

        width: 100%;
        height: 300px;
        justify-self: center;
    }

    .trading-window-box {
        background: radial-gradient(94.26% 94.26% at 47.39% 30.04%, rgba(64, 186, 147, 0.16) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(90.99deg, #1D1D1D 2.18%, #232323 104.4%);
        box-shadow: 0 0.208vw 2.083vw rgba(0, 0, 0, 0.25);
        border-radius: 2.083vw;
    }
}

.trading-wrapper-light {

    .trading-wrapper-chart {
        background: radial-gradient(113.47% 7561.36% at -5.76% -16.06%, rgba(95, 234, 190, 0.56) 0%, rgba(95, 234, 190, 0) 100%);
        &__header {
            h1 {
                color: black;
            }
        }
        &__control-panel {
            span {
                color: #4F4F4F;
            }
        }
    }
    .trading-wrapper-exchange {
        background: #F2F2F2;
        &__header {
            color: black;
        }
        &__swap-input {
            background: #E0E0E0;
            h5 {
                color: black;
            }
            input {
                color: black;
                &::placeholder {
                    color: black;
                }
            }
            span {
                i {
                    color: black;
                }
            }
        }
        &__tx-info-block {
            background: #E0E0E0;
            span {
                b {
                    color: black;
                }
                h3 {
                    color: #4F4F4F;
                    b {
                        color: black;
                    }
                }
            }
        }
    }
    .trading-wrapper-txs {
        background: #F2F2F2;
    }

}