.trading-wrapper {
    display: flex;
    height: auto;

    margin-top: 1.354vw;
    padding-left: 2.5vw;

    &__header {
        display: flex;
        h1 {
            font-size: 1.25vw;
            align-self: center;
            color: white;
        }
    }

    input:disabled {
        color: #333;
        border-color: #333;

        &::placeholder {
            color: #333;
        }
    }

    .trading-container {
        display: flex;
        flex-direction: column;
    }

    .switch-wrapper {
        width: fit-content;

        .switch {
            display: none;
        }
        
        .switch + div {
            width: 2.552vw;
            height: 1.354vw;

            border-radius: 1.042vw;
            border: 0.052vw solid #4F4F4F;

            background-color: transparent;
            transition: background-color 200ms;
            cursor: pointer;
        }
        
        .switch:checked + div {
            background-color: #40BA93;
        }
        
        .switch + div > div {
            width: 1.25vw;
            height: 1.25vw;

            border-radius: 100%;
            border: 0.052vw solid #4F4F4F;
            background-color: #fff;

            box-shadow: 0 0.208vw 0.313vw 0.052vw rgba(0, 0, 0, 0.39);

            transition: transform 250ms;
            pointer-events: none;
        }
        
        .switch:checked + div {
            border: 0.052vw solid #40BA93;
        }
        
        .switch:checked + div > div {
            transform: translateX(1.302vw);
            border: 0.052vw solid #40BA93;
        }
    }

    .trading-wrapper-filter {
        width: 100%;

        padding: 1.979vw 3.854vw 2.188vw;
        margin: 0 2.083vw;

        display: flex;
        flex-direction: column;
        color: white;

        h1 {
            font-size: 1.25vw;
            font-weight: 500;
            color: white;
        }
        
        .trade-btn {
            width: 7.292vw;
            height: 1.875vw;

            margin: 2.604vw auto 0;

            font-size: 0.729vw;
            border-radius: 1.042vw;

            color: white;
            background: #10DC9B;
            border: none
        }

        &__switch-wrapper {
            margin-top: 0.99vw;
            margin-bottom: 0.313vw;
            display: flex;

            .switch-wrapper {
                margin: auto 0 0 0.573vw;
            }
        }

        &__heading {
            margin: 0.833vw 0 0 1.094vw;

            font-size: 0.938vw;
            color: #828282;
        }

        &__buttons {
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            margin-bottom: 0.521vw;

            button {
                margin-top: 1.563vw;

                display: flex;
                color: white;

                border: none;
                background: transparent;

                padding: 0.521vw 1.563vw;
                font-size: 0.938vw;
            }

            .active {
                color: #40BA93;
            }
        }

        &__item {
            display: flex;
            flex-direction: column;

            background: #1F1E20;
            border-radius: 1.563vw;
            padding: 0.8vw 1vw;

            .range-slider-filter {
                padding: 0;

                .MuiSlider-rail {
                    background-color: #333;
                }
            }

            .small__input {
                width: 6vw;
                padding: 0.260vw 1.458vw;

                font-size: 0.938vw;
                text-align: center;

                border-radius: 1.042vw;
                border: 0.052vw solid #333333;

                &::placeholder {
                    font-size: 0.7vw;
                }
            }

            &__spliter {
                margin-top: 0.573vw;
                display: flex;
                justify-content: space-between;

                &__switcher {
                    width: 100%;
                    
                    display: flex;
                    flex-direction: column;
                    
                    p {
                        margin-top: 0.885vw;
                        font-size: 0.729vw;
                        color: #828282;

                        img {
                            width: 0.625vw;
                            height: 0.625vw;

                            margin-left: 0.356vw;
                        }
                    }

                    .red-range-filter {
                        width: 100%;
                        margin: 1vw 0 0.469vw;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &:last-child {
                            margin: 0vw 0 0.469vw;
                        }

                        input {
                            width: 4.219vw;
                            height: fit-content;
    
                            margin: 0 0.3vw;
                            padding: 0.156vw 0.938vw;
    
                            font-size: 0.729vw;
                            text-align: center;
    
                            border-radius: 1.042vw;
                            border: 0.052vw solid #333333;
                        }
                    }
                }

                &__amounts {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &__sliders__wrapper {
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        .trading-wrapper-filter__item__spliter__amounts__sliders {
                            display: flex;
                            flex-direction: column;
    
                            align-items: center;
                            margin-top: 0.521vw;

                            &__input {
                                display: flex;
                                align-items: center;

                                .switcher__input {
                                    width: 4.219vw;
                                    height: fit-content;
            
                                    margin: 0 0.3vw;
                                    padding: 0.156vw 0.938vw;
            
                                    font-size: 0.729vw;
                                    text-align: center;
            
                                    border-radius: 1.042vw;
                                    border: 0.052vw solid #333333;
                                }

                                .circle-separator {
                                    width: 0.417vw;
                                    height: 0.417vw;
                                    border: 0.052vw solid #333;

                                    border-radius: 50%;
        
                                    background-color: #40BA93;
                                }
                            }
    
                            p {
                                margin-bottom: 0.260vw;
    
                                font-size: 0.521vw;
                                color: #828282;
                            }
    
                            b {
                                margin-top: 0.573vw;
    
                                font-size: 0.521vw;
                                color: white;
                            }
                        }
                    }
                }
            }

            &__input {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    font-size: 0.938vw;
                    font-weight: 500;
                    color: #828282;
                }

                p {
                    display: flex;
                    align-items: center;

                    font-size: 0.938vw;
                    font-weight: 500;
                    color: white;

                    svg {
                        width: 0.625vw;
                        height: 0.417vw;

                        margin: 0 0 0 0.417vw !important;
                    }
                }

                svg {
                    width: 13.802vw;
                    height: 0.573vw;

                    margin-top: 0.417vw;
                    margin-bottom: auto;
                }

                input { 
                    font-size: 0.938vw;

                    padding: 0.260vw 0.938vw;

                    border-radius: 1.042vw;
                    border: 0.052vw solid #333333;

                    &::placeholder {
                        font-size: 0.729vw;
                        color: #333333;
                    }
                }
            }
        }
    }

    .trading-wrapper-chart {
        width: 50.938vw;
        height: 67vh;
        padding: 1vw 1vw 1.2vw;

        &__header {
            margin: 0 0 1vw;

            display: flex;
            align-items: center;
            justify-content: space-between;

            h1 {
                align-self: flex-end;
                font-size: 1.25vw;
                color: white;
            }
        }

        &__control-panel {
            display: flex;
            align-items: center;
            

            span {
                color: white;
                font-size: 0.729vw;
            }

            button {
                margin: 0 0.2vw;
                padding: 0.3vw 0.521vw;

                font-size: 0.729vw;

                color: #828282;

                border: 0;
                background-color: transparent;
                cursor: pointer;

                border-radius: 0.521vw;
            }

            select {
                padding: 0.2vw 0.4vw;
                margin-left: 0.6vw;

                display: flex;
                align-items: center;
                justify-content: center;

                background-color: transparent;
                color: white;

                font-size: 0.938vw;

                border-radius: 0.781vw;
                border: 0.052vw solid #40BA93;

                option {
                    color: white;
                    font-size: 0.938vw;
                    background-color: black;
                    border: 0.052vw solid #40BA93;
                }
            }

            .active-time-frame {
                background-color: #40BA93;
                color: white;
            }
        }

        .chart-self {
            width: 100%;
            height: 25.938vw;

            overflow: hidden;
        }

        .chart-switcher {
            margin-left: 0.6vw;

            display: flex;
            align-items: center;

            button {
                width: 2.083vw;
                height: 2.083vw;

                display: flex;
                align-items: center;
                justify-content: center;

                border: 0;
                background-color: transparent;
                border-radius: 0.521vw;
                
                cursor: pointer;

                img {
                    width: 1.1vw;
                    height: 1.1vw;
                }
            }
            
            .active-chart-type {
                background-color: #40BA93;
            }
        }

        &__chart-graph {
            display: flex;
            flex-direction: column;

            .chart-control-data {
                display: flex;
                flex-direction: column;

                padding: 0.7vw 0.9vw 0;

                font-size: 0.625vw;
                color: #828282;

                main {
                    display: flex;
                    margin-top: 0.6vw;

                    button {
                        width: 4.063vw;
                        height: 1.458vw;

                        margin-left: auto;
                        cursor: pointer;

                        font-size: 0.729vw;
                        border-radius: 0.521vw;

                        color: white;
                        background: #40BA93;
                        border: none;
                    }

                    data {
                        margin-bottom: 1.2vw;
                    }
    
                    ul {
                        width: 6vw;

                        &:first-child {
                            width: 4vw;
                        }

                        &:last-child {
                            width: 9vw;
                        }

                        &:not(:last-child) {
                            margin-right: 3.385vw;
                        }

                        li {
                            width: 100%;

                            display: grid;
                            grid-template-columns: 1fr 1fr;

                            &:not(:last-child) {
                                margin-bottom: 0.108vw;
                            }

                            b {
                                color: #40BA93;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }

    .trading-wrapper-exchange {
        width: 100%;
        display: flex;
        flex-direction: column;

        padding: 2vw;
        margin-left: 2.083vw;
        margin-right: 2.083vw;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 1.719vw;

            h1 {
                color: white;
                font-size: 1.25vw;
            }

            &__buttons {
                display: flex;

                button {
                    width: 2.292vw;
                    height: 2.292vw;
                    cursor: pointer;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border: none;
                    background-color: #212225;
                    border-radius: 0.521vw;

                    &:first-child {
                        margin-right: 1.250vw;
                    }

                    svg {
                        width: 1.042vw;
                        height: 1.042vw;
    
                        &:last-child {
                            width: 1.458vw;
                        }
                    }
                }
            }
        }

        &__title {
            font-size: 0.938vw;
            font-weight: 500;

            margin-bottom: 0.156vw;
            color: #828282;
        }

        &__swap-input {
            display: flex;
            flex-direction: column;

            background: #1F1E20;
            border-radius: 1.563vw;
            padding: 0.8vw 1vw;

            &__header {
                width: 100%;

                display: flex;
                justify-content: space-between
            }

            h5 {
                font-size: 0.938vw;
            }

            main {
                width: 100%;
                margin-top: 0.729vw;
                
                display: flex;
                align-items: center;
                justify-content: space-between;

                svg {
                    width: 0.625vw;
                    height: 0.417vw;
                }
            }

            h3 {
                font-size: 0.938vw;
                color: #828282;
            }

            h5 {
                color: white;
                justify-self: flex-end;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;

                img {
                    width: 1.458vw;
                    height: 1.458vw;
                }

                h3 {
                    font-size: 0.938vw;
                    padding: 0 0.4vw;
                }

            }

            input {
                width: 100%;

                background-color: transparent;
                border: 0;

                font-size: 0.938vw;
                color: white;
                text-align: right;

                &::placeholder {
                    color: white;
                    font-size: 0.938vw;

                    &:focus {
                        opacity: 0;
                    }
                }

                &:focus {
                    outline: none;
                }
            }

        }

        .arrow-swap {
            margin: 1.771vw auto 0.156vw;
            
            width: 1.563vw;
            height: 1.563vw;
        }

        &__tx-info-block {
            margin-top: 3.542vw;

            display: flex;
            flex-direction: column;

            background: #1F1E20;
            border-radius: 1.563vw;
            padding: 1.563vw 1.042vw;

            span {
                width: 100%;
                display: flex;
                justify-content: space-between;

                &:not(:last-child) {
                    margin-bottom: 0.625vw;
                }

                h3 {
                    color: #A9AAAB;
                    font-size: 0.938vw;
                    font-weight: 400;

                    &:last-child {
                        justify-self: flex-end;
                    }
                }

                b {
                    font-size: 0.938vw;
                    font-weight: 500;
                    color: white;
                }

                .active {
                    color: #40BA93;
                }
            }
        }
    }
    .trading-wrapper-txs {
        margin-top: 2.083vw;
        padding: 2vw;

        width: 100%;
        height: 100%;
        justify-self: center;

        &__header {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 0.7fr 0.7fr 1.5fr 0.5fr 0.3fr;

            padding-bottom: 0.2vw;
            border-bottom: 0.022vw solid #828282;

            p {
                font-size: 0.729vw;
                font-weight: 400;
                color: #828282;
            }
        }
    }

    .trading-window-box {
        background: radial-gradient(94.26% 94.26% at 47.39% 30.04%, rgba(64, 186, 147, 0.16) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(90.99deg, #1D1D1D 2.18%, #232323 104.4%);
        box-shadow: 0 0.208vw 2.083vw rgba(0, 0, 0, 0.25);
        border-radius: 2.083vw;
    }
}

// LIGHT THEME

.trading-wrapper-light {
    .trading-wrapper-chart {
        background: radial-gradient(113.47% 7561.36% at -5.76% -16.06%, rgba(95, 234, 190, 0.56) 0%, rgba(95, 234, 190, 0) 100%);
        &__header {
            h1 {
                color: black;
            }
        }
        &__control-panel {
            span {
                color: #4F4F4F;
            }
        }
    }
    .trading-wrapper-exchange {
        background: #F2F2F2;
        &__header {
            color: black;
        }
        &__swap-input {
            background: #E0E0E0;
            h5 {
                color: black;
            }
            input {
                color: black;
                &::placeholder {
                    color: black;
                }
            }
            span {
                i {
                    color: black;
                }
            }
        }
        &__tx-info-block {
            background: #E0E0E0;
            span {
                b {
                    color: black;
                }
                h3 {
                    color: #4F4F4F;
                    b {
                        color: black;
                    }
                }
            }
        }
    }
    .trading-wrapper-txs {
        background: #F2F2F2;
    }

}