.approve-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: #000000a8;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
  
    align-items: center;
    cursor: pointer;

    .approve-modal {
        position: absolute;
        // width: clamp(250px, 100%, 600px);
        // height: clamp(100px, 100%, 200px);
        top: 20%;
        img {
            width: 40px;
            height: 40px;
        }
        // cursor: initial;
        // background: #292A2D;
        // padding: 2.5% 2.5%;
        // box-sizing: border-box;
        // color: #444;
        // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        // border-radius: 30px;
        // display: grid;
        // grid-template-rows: 1fr 2fr;
        a {
            position: absolute;
            top: 17px;
            right: 25px;
            color: white;
        }

        .approves-wrapper {
            display: grid;
            grid-row-gap: 10px;
            .approve-item {
                display: grid;
                grid-template-columns: 1fr 3fr;
                border-bottom: 1px solid #404040;
                box-sizing: border-box;
                padding: 5px;
                &:last-child {
                    border-bottom: 0;
                }
                &__token {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    h5 {
                        color: white;
                    }
                }
            }
        }

        // h1 {
        //     color: white;
        //     font-size: 24px;
        //     justify-self: center;
        // }
        button {
            justify-self: flex-end;
            width: 49px;
            height: 25px;
            align-self: center;

            background-color:#BDBDBD;
            border: none;
            box-shadow: none;
            .ant-switch-handle {
                height: 23px;
                width: 23px;
                top: 2px;
                left: 1px;
                &::before {
                    border-radius: 100px;

                }
            }
            &.ant-switch-checked{
                background: #40BA93;
                .ant-switch-handle {
                    left: calc(100% - 24px);
                }
            } 
        }

        .close-approve-btn {
            justify-self: center;
            width: 40%;
            height: 50px;
            border-radius: 30px;
            background-color: #40BA93;
        }

    }
}

.modal-switch{
    background: radial-gradient(106.65% 106.65% at 45.24% 101.55%, rgba(218, 255, 70, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(88.45% 106.08% at 85.95% 21.61%, rgba(64, 186, 147, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(83.55% 83.55% at 7.26% 16.45%, rgba(198, 20, 214, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(36, 26, 46, 0.9);
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 30px 50px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 147.5%;

    text-align: center;

    color: #FFFFFF;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;

    & h2{
        font-weight: normal;
        font-size: 18px;
        line-height: 147.5%;
        color: #FFFFFF;
    }

    &__swap-block{

        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;

        padding: 26px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #404040;
        column-gap: 43px;
    }
}