.mint-redeem-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 0 3vw 2.5vw;

  .mint-redeem-header {
    display: grid;

    h1 {
      align-self: center;
      margin: 0;
      color: white;
      font-size: 1.875vw;
    }
  }

  .mint-redeem-tx-info {
    div {
      border-radius: 1.042vw;

      box-sizing: border-box;
      align-items: center;
      background: #1E1E1E;

      display: flex;
      align-items: center;

      margin: 1.2vw 2.5vw 0 0;
      padding: 0.625vw 3.229vw;

      .fa-circle {
        color: #40BA93;
        padding: 0 3.5vw;
        font-size: 0.4vw;
        
        justify-self: center;
      }

      .contract__link-polygon {
        display: block;
        margin-left: auto;
      }

      .mint-redeem-bar-wrapper {
        display: flex;
        align-items: center;
      }

      span {
        position: relative;
        color: #4F4F4F;
        font-size: 0.7vw;

        display: flex;
        white-space: nowrap;

        b {
          color: white;
          font-weight: 600;
        }
        
        b, span {
          margin-left: 0.4vw;
        }

        span {
          color: white;

          b {
            color: #40BA93;
          }
        }

        a {
          color: white;
          text-decoration: underline;
        }

        i {
          color: white;
        }

        &:last-child {
          justify-self: flex-end;
        }
      }
    }
  }

  .mint-redeem-switcher {
    display: flex;
    justify-content: center;

    margin: 1.719vw 0;

    div {
      display: flex;

      button {
        font-size: 0.938vw;
        padding: 0.365vw 1.250vw;

        cursor: pointer;
        border-radius: 1.042vw;
        border: 0;

        background-color: transparent;
        color: #4F4F4F;
      }
    }

    .active-switcher-button {
      background-color: #40BA93;
      color: white;
    }
  }

  .general-wrapper {
    display: flex;
    justify-content: start;

    .general-window {
      background: radial-gradient(61.16% 3404.86% at 48.28% 79.61%, rgba(30, 117, 89, 0.3) 0%, rgba(9, 33, 25, 0.3) 100%), linear-gradient(90.99deg, #272727 2.18%, #1C1C1C 104.4%);
      box-shadow: 0 0.208vw 0.833vw rgba(0, 0, 0, 0.25);
      border-radius: 2.083vw;    
      padding: 1.094vw 2.969vw 2.083vw 2.656vw;

      .fas {
        font-weight: 200;
      }

      .general-window-header {
        width: 100%;
        margin-bottom: 1.979vw;

        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 1.250vw;
          padding-left: 1.823vw;

          color: white;
        }

        button {
          width: 3.542vw;
          height: 2.344vw;
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;

          background: #171717;
          box-shadow: -0.417vw -0.417vw 1.042vw rgba(28, 27, 27, 0.25), 0.208vw 0.208vw 0.521vw rgba(0, 0, 0, 0.25);
          border-radius: 0.833vw;
          border: none;

          img { 
            width: 1.146vw;
            height: 1.146vw;
          }

          &:hover {
            transition: 0.3s all;
            background-color: #40BA93;
          }
        }
      }

      .general-window-input-row {
        width: 35.625vw;

        display: grid;
        grid-template-columns: 60% 40%;

        background: #1E1E1E;
        border-radius: 1.563vw;
        box-sizing: border-box;

        padding: 1.042vw 3vw 1.042vw 2.396vw;

        span {
          color: white;

          h3 {
            font-size: 0.938vw;
            color: #4F4F4F;

            b {
              color: white;
            }
          }
        }

        .balance {
          display: flex;
          justify-self: flex-end;
          color: white;

          padding-bottom: 0.156vw;
        }

        .currency {
          display: flex;
          align-items: center;
          justify-self: flex-end;
          
          font-size: 1.2vw;
          color: white;

          img {
            width: 1.979vw;
            height: 1.979vw;
            margin-right: 0.6vw;
          }
        }

        input {
          background-color: transparent;
          border: 0;
          color: #A9AAAB;
          font-size: 1.25vw;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          input[type=number] {
            -moz-appearance: textfield;
          }

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: #A9AAAB;
          }
        }
      }

      .output {
        input {
          color: #40BA93;

          &::placeholder {
            color: #40BA93;
          }

          pointer-events: none;
        }
      }

      .general-window-op-sign-row {
        display: grid;
        place-items: center;

        padding: 1.042vw 0;
        
        i {
          color: #C4C4C4;
          font-size: 1.25vw;
        }

        .fa-arrow-down {
          color: #40BA93;
        }
      }

      .general-btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        .mint-window-run-mint {
          font-size: 1.406vw;
  
          width: 17.813vw;
          height: 3.698vw;
          margin-top: 2.135vw;
  
          color: white;
          background: #40BA93;
  
          cursor: pointer;
  
          box-shadow: -0.313vw -0.313vw 1.563vw rgba(51, 51, 51, 0.25), 0.208vw 0.208vw 1.042vw rgba(0, 0, 0, 0.25);
          border-radius: 1.563vw;
          border: 0;
  
          &:disabled {
            background-color: lightgray;
            color: black;
  
            pointer-events: none;
            cursor: none;
          }

          &:hover {
            transition: .4s ease;
            background-color: #1E1E1E;
            color: #40BA93;
          }
        }
      }
    }
  }

.collect-redemption {
  width: 20.5vw;
  margin-right: 2.083vw;
  margin-bottom: auto;

  display: flex;
  flex-direction: column;

  padding: 2.344vw 2.188vw;

  background: linear-gradient(90.99deg, #1D1D1D 2.18%, #232323 104.4%);
  border-radius: 2.083vw;

  .collect-redemption-data {
    display: flex;
    justify-content: space-between;
    font-size: 0.729vw;

    padding: 0.729vw 0 !important;
    color: #4F4F4F;

    p:last-child {
      color: white;
    }

    &:not(:last-child) {
      border-bottom: 0.052vw solid #333333;
    }
  }

  div {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;

    padding-bottom: 0.521vw;
    border-bottom: 0.052vw solid #333333;

    span {
      display: flex;
      justify-content: center;
      font-size: 0.7vw;

      color: #40BA93;
    }

    h3 {
      font-size: 0.729vw;
      color: #4F4F4F;

      &:first-child {
        color: white;
      }
        
      b {
        margin-left: 0.208vw;
        color: #40BA93;
      }
    }

    button {
      font-size: 0.729vw;
      padding: 0.208vw 0.5vw;

      border: 0.052vw solid #40BA93;
      border-radius: 1.042vw;

      cursor: pointer;
      background-color: transparent;
      color: white;

      &:hover {
        transition: 0.3s;
        background-color: #40BA93;
        color: white;
      }
    }

    &:last-child {
      display: flex;
      justify-content: space-between;

      border: 0;
      padding-bottom: 0;
      padding-top: 1.406vw;

      h3 {
        &:first-child {
          color: #4F4F4F;
        }
      }
    }
  }

    &:not(:last-child) {
      margin-bottom: 2.083vw;
    }
  }
}


// LIGHT THEME!
.mint-redeem-wrapper-light {
  .mint-redeem-header {
    h1 {
      color: black;
    }
  }

  .mint-redeem-tx-info {
    div {
      background: #F2F2F2;

      span {
        color: #4F4F4F;

        b {
          color: #40BA93;
        }

        span {
          color: black;
          font-weight: 700;

          b {
            color: #40BA93;
          }
        }

        a {
          color: #4f4f4f;
        }

        i {
          color: black;
        }
      }
    }
  }

  .general-wrapper {
    .general-window {
      background: #FFFFFF;

      .general-window-header {

        h3 {
          color: black;
        }

        button {
          box-shadow: none;

        }
      }

      .general-window-input-row {
        background: #F2F2F2;

        span {
          h3 {
            b {
              color: black;
            }
          }
        }

        .currency {
          color: black;
        }
      }
    }
  }
}