.staking-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 2.604vw;

  .staking-reward-header {
    h3 {
      margin-top: 0.26vw;

      font-weight: 300;
      font-size: 18px;
      line-height: 27px;


      color: #40BA93;
    }
  }

  .head-wrapper {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.4fr;
    align-items: center;

    margin-bottom: auto;

    .hide-btn {
      display: block;

      font-size: 0.729vw;
      margin-left: auto;
      cursor: pointer;

      background: transparent;
      border-radius: 1.042vw;
      border: none;

      padding: 0.26vw 1.615vw;

      border: 0.052vw solid #40ba93;
    }
  }

  .staking-list {
    display: flex;
    flex-direction: column;

    &__header {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 0.4fr;

      margin: 2.969vw 2.813vw 0.938vw 3.906vw;

      span {
        font-size: 0.938vw;
        color: #4f4f4f;
      }
    }

    &__item {
      width: 100%;

      display: flex;
      align-items: center;

      height: 5.469vw;
      padding: 1.25vw 2.813vw 1.25vw 3.906vw;
      margin-bottom: 1.042vw;

      transition: 0.4s ease;

      background: linear-gradient(90.99deg, #1d1d1d 2.18%, #232323 104.4%);
      box-shadow: 0 0.208vw 0.6vw rgba(0, 0, 0, 0.25);
      border-radius: 2.083vw;

      color: white;
      cursor: pointer;

      transition: all 0.2s ease-in-out;
      transform: scale(1);

      &:hover {
        transform: scale(1.01);
      }

      .body-wrapper {
        opacity: 0;
      }

      .token {
        display: flex;
        justify-content: center;
        flex-direction: column;

        font-size: 0.938vw;

        .token-main {
          display: flex;
          align-items: center;
        }

        img {
          width: 1.302vw;
          height: 1.302vw;
        }

        b {
          font-weight: 500;
          margin-left: 0.521vw;
        }

        span {
          color: #4f4f4f;
          font-weight: 400;
          margin-left: 1.823vw;
        }
      }

      .roi {
        font-size: 0.938vw;
      }

      .contract {
        display: grid;
        align-items: center;
        a {
          font-size: 0.938vw;
          color: #40ba93;
          &:hover {
            color: #40ba93;
          }
          &:visited {
            color: #40ba93;
          }
        }
      }
    }

    &__item__opened {
      display: flex;
      flex-direction: column;
      position: relative;

      height: 16.667vw;

      background: radial-gradient(63.69% 1148.13% at 41.28% 56.35%, rgba(46, 147, 115, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        linear-gradient(90.99deg, #1d1d1d 2.18%, #232323 104.4%);
      box-shadow: 0 0.208vw 1.4vw rgba(0, 0, 0, 0.25);
      border-radius: 2.604vw;

      transition: 0.4s ease;

      .body-wrapper {
        display: block;
        width: 100%;
        opacity: 1;

        transition: 1.2s ease;
      }

      .claim-reward {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 0 12.215vw 0.938vw 1.458vw;

        h5 {
          font-weight: 300;
          font-size: 0.938vw;

          margin-top: 2vw;
          color: white;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;

          font-size: 10px;
          width: 15%;
          height: 2.552vw;

          background: #1e1e1e;

          border: 0;
          border-radius: 1.042vw;
          cursor: pointer;

          img {
            margin-left: 5px;
            width: 1.302vw;
            height: 1.354vw;
          }
        }
      }

      .info-control-panel {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .info {
          display: grid;
          background-color: #1e1e1e;
          height: auto;

          width: 90%;
          padding: 1.771vw 2.917vw;
          margin-right: 4.688vw;

          border-radius: 2.083vw;
          grid-template-rows: 50% 50%;
          align-items: center;

          &__row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            margin-bottom: 0.365vw;

            h5 {
              color: #4f4f4f;
            }

            font-size: 0.938vw;

            &:last-child {
              color: white;
              font-size: 1.25vw;
              margin-bottom: 0;

              h5 {
                color: white;
              }
            }
          }
        }

        .control-stake {
          display: flex;
          flex-direction: column;

          button {
            width: 7.552vw;
            height: 2.969vw;

            font-size: 0.938vw;

            border: 0.052vw solid #4f4f4f;
            box-sizing: border-box;
            border-radius: 1.563vw;

            color: #4f4f4f;
            cursor: pointer;
            background-color: transparent;

            &:first-child {
              background: #40ba93;
              color: white;
              border: 0.052vw solid #40ba93;

              margin-bottom: 0.5vw;
            }
          }
        }
      }
    }
  }
}

// LIGHT THEME

.staking-wrapper-light {
  .staking-reward-header {
    h1 {
      color: black;
    }
  }

  .staking-list {
    ul {
      li {
        background: #f2f2f2;

        .token {
          span {
            color: #333333;
          }
        }

        .roi {
          span {
            color: #333333;
          }
        }

        .claim-reward {
          h5 {
            color: #4f4f4f;
          }

          button {
            background: #e0e0e0;
          }
        }

        .info-control-panel {
          .info {
            background-color: #e0e0e0;

            &__row {
              &:last-child {
                h5 {
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
}
