@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2em;
    box-sizing: border-box;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin-bottom: 0;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: all 0.3s;
}

input {
    outline: none;
    border: none;
    background: transparent;
}

.main__heading__page {
    color: white;

    text-align: left;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #ffffff;
}

.ant-argano-message {
    margin-top: 20px;

    div {
        background: radial-gradient(
                61.16% 3404.86% at 48.28% 79.61%,
                rgba(30, 117, 89, 0.3) 0%,
                rgba(9, 33, 25, 0.3) 100%
            ),
            linear-gradient(90.99deg, #272727 2.18%, #1c1c1c 104.4%);
        border-radius: 20px;
        box-sizing: border-box;
        padding-right: 25px;
        padding-left: 25px;
        color: white;
        .ant-message-error {
            .anticon {
                color: #ef3725;
            }
        }
        .ant-message-success {
            .anticon {
                color: #40ba93;
            }
        }

        .ant-message-loading {
            .anticon {
                color: #40ba93;
            }
        }
    }
}

body {
    .ant-switch-checked .ant-switch-handle {
        left: calc(100% - 36px - 2px);
    }
}

a {
    transition: all 0.3s;
    &:hover {
        opacity: 0.8;
    }
}

.connect-wallet-to-view-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: #fff;
    row-gap: 20px;
    & h3 {
        color: #fff;
    }

    & button {
        background: #40ba93;
        border-radius: 30px;
        padding: 14px 47px;
    }
}


.document__box{
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #4F4F4F;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 25px;
    cursor: pointer;

    &__links{
        display: none;
        transition: all .3s;
        visibility: hidden;
        position: absolute;
        top: -115px;

        &__open{
            display: block;
            visibility: visible;
            background: #202020;
            padding: 10px;
            border-radius: 12px;
            border: 1px solid #4F4F4F;
            & a{
                white-space: nowrap;
                margin: 0;
            }
        }
    }
}
body {
    .foundry .foundry__wrapper, .general-window-input-row__input, .trading-wrapper-exchange__swap-input__input{
        .maxButton{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-10%, -50%);
            background: #2C2C2C;
            border-radius: 40px;
            padding: 7px 25px;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            border: none;
            color: #FFFFFF;

            &.reverse{
                right: none;
                left: 0;
                transform: translate(10%, -50%);
            }
        }
    }
    
    &.light-theme {

        .document__box{
            border-color: #E0E0E0;

            & svg{
                fill: #828282;

                & path{
                    fill: #828282;
                }
            }

            &__links__open{
                background: #E0E0E0;
                border-color: #E0E0E0;
            }
        }
        
        .main__heading__page {
            color: #333333;
        }

        .connect-wallet-to-view-page {
            color: #333;
            & h3 {
                color: #333;
            }
        }

        .accounts-wrapper {
            .cosmetical-wrapper {
                background: linear-gradient(90.99deg, #ffffff 2.18%, #ffffff 104.4%);
                border-radius: 40px;
                box-shadow: none;
            }
            .light-acc-warapper {
                background: radial-gradient(
                    113.47% 7561.36% at -5.76% -16.06%,
                    rgba(95, 234, 190, 0.56) 0%,
                    rgba(95, 234, 190, 0) 100%
                );
                border: 0.5px solid #40ba93;
            }
            .accounts-wrapper-portoflio-assets__assets-chart-info__bars ul li p {
                color: #333333;
            }
            .accounts-wrapper-portoflio-assets__assets-chart-info
                .accounts-wrapper-portoflio-assets__assets-chart-info__assets-list
                ul
                li {
                background: #fbfbfb;
                color: #333333;
                
            }

            .accounts-wrapper-portoflio-assets__assets-chart-info
                .accounts-wrapper-portoflio-assets__assets-chart-info__assets-list
                ul::-webkit-scrollbar-thumb {
                background: #e0e0e0;
            }

            .accounts-wrapper-portoflio-assets__assets-chart-info
                .accounts-wrapper-portoflio-assets__assets-chart-info__assets-list
                ul::-webkit-scrollbar {
                background: #f2f2f2;
            }

            .accounts-wrapper-portoflio-assets__assets-chart-info__bars button {
                color: #828282;
                background: #fbfbfb;
            }
            .acc-hisotry {
                .acc-hisotry-header .search__input input {
                    color: #40524c;
                }
                .acc-hisotry-buttons button {
                    background: #f2f2f2;
                    border: none;
                    border-radius: 25px;
                    color: #333333;

                    & svg {
                        path {
                            fill: #333333;
                        }
                    }
                }
            }
            .accounts-wrapper-use-staking-pools__buttons button{
                color: #333;
                &:hover{
                    color: #fff!important;
                }
                &.active{
                    color: #fff;
                    &:hover{
                        color: #333!important;
                    }
                }
            }
        }


        .trading-wrapper {
            .trading-window-box {
                position: relative;
                box-shadow: none;
            }

            &.trading-wrapper-light .trading-wrapper-chart {
                border: 0.5px solid #40ba93;
            }
            .trading-wrapper-exchange__header h1 {
                color: #333;
            }

            .trading-wrapper-exchange__header__buttons button {
                background: #e0e0e0;
            }
            .trading-wrapper-exchange__title {
                color: #333;
            }
        }

        .foundry .foundry__wrapper {
            .foundry__details p {
                color: #828282;
                font-size: 18px;
                line-height: 27px;
                &:first-child {
                    color: #828282;
                }
            }
            .foundry__data .foundry__data-item {
                background: linear-gradient(84.78deg, #40ba93 -6.91%, #05fcad 161.21%);
                border-radius: 40px;
            }
            .foundry__data {
                .foundry__data-item__heading {
                    color: #fff;
                }
                .foundry__data-item__icon {
                    path {
                        fill: #fff;
                    }
                }
            }
            .foundry__actions-item {
                background: #ffffff;
                border-radius: 40px;
                .amount {
                    color: #4f4f4f;
                }
            }
            .foundry__actions-item__token {
                color: #333;
            }
            .foundry__actions-item button {
                color: #4f4f4f;
                border: 1px solid #4f4f4f;
                &:disabled {
                    opacity: 0.6;
                }
            }
        }

        .luqidity-pools-wrapper {
            .luqidity-pools-wrapper-heading {
                color: #333;
            }
            .earn-ago .luqidity-pools-wrapper-list-item .control-panel__header button {
                color: #4f4f4f;
                &:hover {
                    color: #fff !important;
                }
                &.active {
                    color: #fff;
                    &:hover {
                        color: #4f4f4f !important;
                    }
                }
            }
        }
        .luqidity-pools-wrapper-light .luqidity-pools-wrapper-list .luqidity-pools-wrapper-list-item .chart-expand {
            background: #e0e0e0;
            border: 1px solid #bdbdbd;
            border-radius: 20px;
        }

        .staking-wrapper .staking-list__item .token .token-main {
            & b {
                color: #333;
            }
        }
        .staking-wrapper .head-wrapper .hide-btn {
            color: #333;
        }

        .staking-wrapper-light .staking-list ul li .info-control-panel .info {
            background: #fbfbfb;
            border-radius: 40px;
        }

        .staking-wrapper .staking-list__item__opened .info-control-panel .info__row{
            & input{
                color: #000;
            }
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
